.heading {
    display: grid;
    text-align: center;
    justify-content: center;
    width:60%;
    
}

th,
td {
    border: 1px solid black;
    padding:6px;
}
th{
    text-align: left;
}

table {
    border-collapse: collapse;
    width:800px;
    
   
    margin-left:10px;
}

@media screen and (max-width: 480px) {
     #id{
      background-color: lightgreen;
    }
  }

  #id{
    width: 86%;
  }